Example systemd unit file config for `/etc/systemd/system/deno-stripe-connect-account-accounce-server.service`
```
[Unit]
Description = Deno stripe connect account announce server
After = network.target network-online.target
Wants = network-online.target

[Service]
Type = simple
PIDFile = /run/deno-stripe-connect-account-accounce-server.pid
WorkingDirectory=/path/to/app/
ExecStart = /home/<username>/.deno/bin/deno run --inspect-brk --allow-net=127.0.0.1 --allow-env --allow-read --allow-write=stripe_connect_sites.db,stripe_connect_sites.db-journal index.js
Restart = always
RestartSec = 3
StartLimitInterval = 5
StartLimitBurst = 50
